doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        block title
        link(rel="shortcut icon" href="favicon.ico")
        link(href="../css/app.min.css", rel="stylesheet")
    body
        #wrapper
            include ../blocks/header
            block content
            include ../blocks/footer
        script(src="../js/app.min.js")
